body {
   margin: 0;
   padding: 0;
   background-color: #000000;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-container {
   background-color: #F8E0E0;
   width: 58vw;
   position: relative;
}

.bold {
   font-weight: bold;
}

.red-span {
   color: red;
}

.format-span {
   white-space: pre;
   font-family: monospace;
   text-align: left;
   position: relative;
   right: 70px;
}

h1 {
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 10px;
   border-bottom: 6px solid white;
   margin-bottom: 40px;
}

h1, address {
   color: white;
   width: 100%;
   background-color: #8A0808;
   margin-top: 0;
}

h3 {
   margin: 0;
   font-family: 'Comic Sans MS', Arial;
   width: 100%;
   background-color: #f59191;
   color: white;
   text-transform: capitalize;
}

address {
   text-align: right;
   border-top: 6px solid white;

}

#goat-logo {
   height: 130px;
}

.last-p {
   margin: 0;
}

.container {
   text-align: justify;
   width: 98%;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px 20px 10px 20px;
   box-sizing: border-box;
   border-right:10px double #f59191;
   border-left: 8px solid #f59191;
}

.sub-container {
   display: flex;
   flex-direction: row-reverse;
   width: 93%;
   justify-content: space-between;
   margin: 0 auto;
   border:#8A0808 5px solid;
   box-sizing: border-box;
   padding: 7px;
   margin-bottom: 25px;
}


