* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px 20px;
  border-style: solid;
  border-image-source: url('sonrisa.png');
  border-image-slice: 30;
  border-image-repeat: repeat;
  background-color: #FBC79F;
  border-image: url(sonrisa.png) 1 178 42 181 round;
  border-width: 75px 73px 75px 75px;

}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;

}