.menu {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   border: 1px solid black;
}

.menu li  {
   list-style: none;
   padding: 0;
   margin: 0;
   flex-direction: row;
   flex: 1;

}

.menu li a {
   display: block;
   width: 100%;
   color: black;
   text-decoration-line: none;
   padding: 10px;
   box-sizing: border-box;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.menu li a:hover {
   background-color: rgb(211, 164, 231);
}

.l1 {
   background: linear-gradient(to right, rgb(121, 208, 127), rgb(80, 209, 183));
}

.l2 {
   background: linear-gradient(to right, rgb(156, 255, 179), rgb(110, 167, 18));
}

.l3 {
   background: linear-gradient(to right, rgb(9, 235, 209), rgb(80, 185, 209));
}

.l4 {
   background: linear-gradient(to right, rgb(121, 208, 176), rgb(80, 108, 209));
}


.l5 {
   background: linear-gradient(to right, rgb(71, 107, 205), rgb(104, 80, 209));
}

.l6 {
   background: linear-gradient(to right, rgb(208, 147, 121), rgb(209, 175, 80));
}

.menu li:not(:last-child) {
   border-right: 1px solid black;
}
