body {
  background-color: #C9D9E5;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo1 {
  text-transform: uppercase;
  text-align: center;
  font-size: medium;
}

h2 {
  background-color: #0285E2;
  color: rgba(255, 255, 255, 0.917);
  text-transform: capitalize;
  font-size: large;
}

p {
  background-color: rgb(125, 190, 255);
  font-style: italic;
}

.parr1 {
  font-style: italic;
  
}

.datos {
  color: rgb(150, 45, 45);
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
  
}

.date {
  color: rgb(225, 255, 0);
}

h3 {
  background-color: #29a6ff;
  color: rgba(255, 255, 255, 0.917);
  font-size: large;
}

.piePagina {
  background-color: white;
  text-align: right;
}