body {
  color: white;
  background-color: #8c8c8c;
  font-family: Verdana, Arial;
  font-size: small;
}

#wrapper {
  color: black;
  background-color: white;
}

#encabezado {
color: black;
background-color: #f3c600;
}

.img01 {
  background-color: white;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

address {
  font-style: normal;
  font-size: 80%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1,5px;
}

a {
  text-decoration: none;
}

a:link {
  color: #d90000;
}

a:visited {
  color: #cc6666;
}

a:hover:focus {
  text-decoration: underline;
  outline: none;
}

a:active {
  color: white;
  background-color: #d90000;;
}

.skiplink {
  display: none;
}
  