* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ABA395;
}

.ff-courier {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.dashed-ul {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2.8px;
  font-style: italic;
}

.intro {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pre-aurora {
  margin-top: 12px;
}

.main-div {
  width: 70%;
  max-width: 900px;
  padding: 20px;
}

.img01 {
  width: 250px;
}


.main-title {
  text-align: center;
  font-size: 15px;
  text-shadow:  1px -2px 2px white;
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 920px;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  width: 60%;
}

.poema {
  font-style: italic;
  line-height: 1.6;
  margin-top: 20px;
  font-size: 15px;
  
}

hr {
  border: none;
  height: 1px;
  background: black;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 280px;
  margin-right: 280px;
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}
