#primerParr {
  color: rgb(229, 45, 103);
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

#boton {
  
}

.hola {
  color: aqua;
} 