body {
    background-image: linear-gradient(to right, #ff7e5f, #ba7bfe);
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#img1 {
  position: absolute;
  top: 0vh;
  left: 76vw;
  height: 25vh;
}

h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 20px;
}

h2 {
  margin-left: 50px;
}

form {
  
  margin-left: 20px;
  font-size: 20px;
}